.toolbar {
    min-width: 80px;
}

.icon {
    width: 30px;
    height: 30px;
}
.toolbar-button {
    border: none;
    background-color: transparent;
}
.toolbar-button:hover {
    background-color: #bbdefb;
}
#dropdown-basic::after {
    content: none;
}
#dropdown-basic:focus{
    outline: none;
}
.font-weight-bold{
    font-weight:900
}
.text-red{
    color: #ff0000;
}
.font-size-xl{
    font-size: 40px;
}
.panel-height{
    height: calc( 100vh - 220px );
}